service cloud.firestore {

  function userIsSignedInWith(userId) {
    return request.auth.uid == userId;
  }

  match /databases/{database}/documents {
    match /user_data/{uid}/{document=**} {
      allow read, write: if userIsSignedInWith(uid)
    }
    
    match /views/{document=**} {
    	allow read;
    }
    
    match /social_stream/{document=**} {
    	allow read;
    }
    
    match /conference_info/{document=**} {
    	allow read;
    }
  }
}
